<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html" class="cta">Tickets</a>
            <a id="navselected" href="checkout.html">Checkout</a>
        </nav>
    <div>
        <form>
            <label>Name: (required)</label>
            <input type="text">
            <label>Email: (required)</label>
            <input type="text">
            <label>Ticket Quantity: (required)</label>
            <input type="text">
            <input type="submit" value="Submit">
        </form>
    </div>
    <footer>
        <p>
            &copy; 2026 MonoMuse. All rights reserved.
        </p>
    </footer>
</body>
</html>