<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <header>
        <h1>Exhibitions</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    <div class="main">
            <h2>Exhibition 1: Textile & Abstraction</h2>
        <p>
            This exhibition explores how artists use textile to express identity, 
            labor, and culture. Through the process of knitting, felting, embrodiery, 
            and/or weaving, artists are able to tell a story with geometric patterns.
            The exhibition highlight fiber-based crafts with a theme of modernism and resistance.
            International artists join together to share their craft and story.
        </p>
            <h2>Youth & Imagination: The Craft of Young Innovators</h2>
        <p>
            Youth & Imagination Night highlights the hard-work and dedication of students 
            participating in the Imagination Creation Scholars program. As the school-year 
            comes to an end, students display their long-term projects, focusing on
            the intersection of art, technology, and society.
        </p>
    </div>
    <footer>
        <p>
            &copy; 2026 MonoMuse. All rights reserved.
        </p>
    </footer>
</body>
</html>