<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header>
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
        <nav>
            <a href="../index.html">Home</a>
            <a id="navselected" href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html" class="cta">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    <div class="main">
        <img src="../static/monomuseentrance.png" alt="MonoMuse entrance">
        <h2>Mission Statement</h2>
        <p>
            MonoMuse Museum seeks to encourage the exploration of art, technology,
             and society. Our mission is to connect curious minds with innovative 
             exhibitions and workshops. By incorporating contemporary technology 
             and ideas, we hope to establish and maintain creative production and 
             innovative thinking. 
        </p>
        <h2>Milestones</h2>
        <u1> 
           <li>2025: MonoMuse builds two new wings dedicated to AI and architecture.</li>
            <li>2010: MonoMuse partners with the local school district to launch 
                its Imagination Station. Students learn various art styles, 
                use innovative technology, and learn about historical 
                movements during workshops hosted in the Imagination Station.</li>
            <li>2007: MonoMuse makes an introduction by hosting its first exhibition 
                on textile and modern abstraction.</li>
        </u1>
    </div>
    <footer>
        <p>
            &copy;<span id="copyYear"></span> MonoMuse. All rights reserved.
        </p>
    </footer>
</body>
</html>